body {
    /*background-color: #055B94; if solid color */
    background-image: linear-gradient(#f48787, #8CCB95);
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    font-family: 'Maven Pro', sans-serif;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
}

form {
    align-content: center;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}







#clockdiv{
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 20px;
}