/* iFrame */
#story-body {
    background: #F3E9D2;
}

.story-txt {
    width: 100%;
    height: 100vh;
    background-color: #F3E9D2;
    margin: auto;
}

/* 0.0: WeChat SVGs */
.wechat { /* WeChat DIV */
    position: relative;
}

.wechat-static, .wechat-hidden { /* WeChat background image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wechat-button { /* Translate button */
    position: absolute;
    top: 75%;
    left: 27%;
}

.wechat-button2 { /* Translate button */
    position: absolute;
    top: 78%;
    left: 27%;
}

.wechat-button:hover {
    cursor: pointer;
}

.wechat-hidden {
    display: none;
}

/* ALL HIDDEN ELEMENTS TO APPEAR ON ALL PAGES */
.hidden {
    display: none;
}

/* ALL CLICKABLE ELEMENTS TO PROMPT HIDDEN TEXT */
.appear, .appear2 {
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}

/* 0.3: Groceries */
#groceries {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #0D1F2D;
    border-radius: 8px;
    margin-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
}

#news-links {
    letter-spacing: 3px;
    line-height: 1.3;
}

/* 0.35: Daily Report Alert*/
.email {
    height: 400px;
    position: relative;
    border: 8px solid black;
    background-color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.email h1 {
    font-size: 40px;
    padding: 30px;
}

.email button {
    width: 20%;
    height: 30px;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -85%);
    transform: translate(-50%, -85%);
}

/* 0.4: Daily Report*/
.lastDigit:hover {
    cursor: pointer;
}

#dailyNum h1 {
    font-size: 100px;
    text-align: center;
}

.lastDigit {
    font-weight: 700;
    color: #0D1F2D;
}

.time {
    visibility: hidden;
}

/* 0.6: Subway Station */

.count{
    position: absolute;
    margin-top: 25%;
    left: 30%;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
}

.subwayText {
    display: none;
}

/* 0.8: Pause */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}