/* 0.0: WeChat SVGs */
.wechat { /* WeChat DIV */
    position: relative;
}

.wechat-static, .wechat-hidden { /* WeChat background image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wechat-button { /* Translate button */
    position: absolute;
    top: 75%;
    left: 27%;
}

.wechat-button2 { /* Translate button */
    position: absolute;
    top: 78%;
    left: 27%;
}

.wechat-button:hover {
    cursor: pointer;
}

.wechat-hidden {
    display: none;
}

/* ALL HIDDEN ELEMENTS TO APPEAR ON ALL PAGES */
.hidden {
    display: none;
}

/* ALL CLICKABLE ELEMENTS TO PROMPT HIDDEN TEXT */
.appear, .appear2 {
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}

/* 0.3: Groceries */
#groceries {
    text-align: center;
}

#news-links {
    letter-spacing: 3px;
    line-height: 1.3;
}

/* 0.35: Daily Report Alert*/
.email {
    height: 400px;
    position: relative;
    border: 8px solid black;
    background-color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.email h1 {
    font-size: 40px;
    padding: 30px;
}

.email button {
    width: 20%;
    height: 30px;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -85%);
    transform: translate(-50%, -85%);
}

/* 0.4: Daily Report*/
.lastDigit:hover {
    cursor: pointer;
}

#dailyNum h1 {
    font-size: 100px;
    text-align: center;
}

.lastDigit {
    font-weight: 700;
    color: #0D1F2D;
}

.time {
    visibility: hidden;
}

.count{
    position: absolute;
    margin-top: 25%;
    left: 30%;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
}

.subwayText {
    display: none;
}
