:root {
  --dark: #000000; 
 --light: #FFFFFF; 
 --blocks: #99B3C6;
  --transition: all 0.3s ease 0s; 
  /* all variables above */
  
}
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
  background-image: url('images/map.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}  
.splash-txt-1 {
  font-size: 100px;
  font-family: 'tt_blackitalic', sans-serif;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s;
}

.splash-txt-2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 2s;
  cursor: pointer;
  }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* CSS styling for splash screen */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(5, 91, 148, 0.8) 0%, rgba(5, 91, 148, 0.44) 100%);    
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 30vh;
  cursor: pointer;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 20vh;
  transition: all 0.5s;
}

/* Splash screen text fade in keyframe function */
@keyframes fadeIn{
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}

/* Splash screen image and text fade in */
.splash-logo {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-top: 10%;
  top: 0;
  left: 0;
  z-index: 200;
  line-height: 90vh;
  
}

.splash-txt-1 {
  font-size: 100px;
  font-family: 'tt_blackitalic', sans-serif;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s;
}

.splash-txt-2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 2s;
  cursor: pointer;
}
html {
  color: black;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
  margin: 0; 
  padding: 0;
}

@font-face {
  font-family: 'tt_normsbold';
  src: url('fonts/ttnorms-bold-webfont.woff2') format('woff2'),
     url('fonts/ttnorms-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt_blackitalic';
  src: url('fonts/ttnorms-blackitalic-webfont.woff2') format('woff2'),
     url('fonts/ttnorms-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mapboxgl-popup-content {
  height: 550px;
  width: 750px;
  background-color: powderblue;
  }

img {
  height: 50%;
  width: 50%;
  }

.content h2{
  color: #184876;
  font-size: 24pt;
}

p {
  font-size: 12pt;
}

.enterButton {
 background-color:#BAD1E5;
 display:inline-block;
 cursor:pointer;
 font-weight: 500;
  font-size: 1em;
  color:black;
 padding:8px 30px;
 text-decoration: none;
}
.enterButton:hover {
 background-color:#BAD1E5; /*could have it change colors on hover by changing this*/
}
.enterButton:active {
 position:relative;
 top:1px;
}