body {
    background-color: #F2E9DA;
}

/* title */
.title{
    margin-top: 10vh;
    margin-bottom: 7vh;
}

/* short paragraph */
.short p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3px;
    color: #000000;
    margin-bottom: 5vh;
}

/* form */
label {
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 35px;
    letter-spacing: 5px;
    color: #8F6565;
}

.btn {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    background: #F2E9DA;
    color: #8F6565;
    border: 0px;
}

.btn:hover {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    background: #F2E9DA;
    color: #000000;
    border: 0px;
}

.required {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem;
}

/* navigation */
.navbar {
    background-color: #F2E9DA;
}

.nav-link {
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    color: #8F6565 !important;
    margin-right: 3vw;
}

/* line under navigation */
.current:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #8F6565; /* This creates the border. Replace black with whatever color you want. */
}

/* Font Imports */
@font-face {
    font-family: 'tt_normsbold';
    src: url('fonts/ttnorms-bold-webfont.woff2') format('woff2'),
         url('fonts/ttnorms-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt_blackitalic';
    src: url('fonts/ttnorms-blackitalic-webfont.woff2') format('woff2'),
         url('fonts/ttnorms-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

